doc/parts/lang/types.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ELEMENT coretypes (coretype*)>

<!-- <!ELEMENT taggedtext ( typename* , syntaxname* , syntaxlines* , PCDATA* )> -->
<!ELEMENT typename ANY>
<!ELEMENT syntaxname ANY>
<!ELEMENT syntaxlines ANY>

<!ELEMENT coretype (abstraction,construction)>
  <!ATTLIST coretype name CDATA #REQUIRED>
<!ELEMENT abstraction ANY>
<!ELEMENT construction ANY>
